.chat__mesgae-main-right {
    gap: 11px !important;
}
.chat__message-main{
height: 84vh;
}
.chat__mesgae-main-right {
    width: 84% !important;
}
.chat__mesgae-main-left {
    width: 84% !important;
}

.chat__form{
    width: -webkit-fill-available !important;
}

/* ユーザーメッセージ上部ヘッダー */
.chat__message_header{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}
.chat__message_header-item-text{
    font-size: 10px;
    color: gray;
    font-family: 'Helvetica', 'Arial', sans-serif;

}
.chat__message_header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
}
.chat__message_header-item a{
    text-decoration: none;
}
.active{
    border-bottom: 2px solid #07556e;
}
.active_font{
    color: #07556e !important;
}
.header-icon{
    font-size: 20px;
    color: gray;
    padding-bottom: 2px;

}
.chat_default-area{
    border: 2px solid #07556e;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    width: max-content;
    margin-bottom: 8px;
}
.chat_default-txt{
    font-size: 12px;
}

/* お知らせ箇所 */
.annoucement_wrapper{
    background-color: #fff;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.annoucement_wrapper p{
    font-size: 13px;
}
.announcement_container-left-icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.announcement_container{
    display: flex;
    gap: 20px;
    padding: 14px 20px;
    border-bottom: .5px solid rgba(128, 128, 128, 0.081);
}
.announcement_container-right-date{
    font-size: 11px;
    color: gray;
}

@media (max-width: 450px){
    .chat__form{
        bottom: 0%;
    }
    .chat__message-area {
        padding: 0px 0px 20px 0px;
    }
    .chat__message-time-txt {
        font-size: 7px;
    }
    .chat__mesgae-main-right {
        gap: 5px !important;
    }
    .chat__mesgae-main-left {
        gap: 7px;
    }
    .chat__message-main {
        margin-top: 0 !important;
        height: 80vh !important;
        padding: 3px 5px !important;
    }
    .chat__message-main-time{
        font-size: 9px;
    }
}
@media (max-width: 376px){
    #js_msg{
        font-size: 16px;
    }
    input, textarea {
        font-size: 20px;  /* 最低でも16pxに設定 */
    }
    .chat__message-box-right, .chat__message-box-left {
        font-size: 15px;
    }
}