@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+New&display=swap');

* {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
  }
  

body{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      /* overflow: hidden; */
}

.contents{
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;
      background-color: #f5f6fa;
      height: 100%;
}
main{
      display: flex;
      justify-content: center;
}
/* text common */
.user_name_txt{
      font-size: 18px;
      font-weight: bold;
}
.chat_name_txt{
      font-size: 16px;
      font-weight: bold;
}
.user_id_txt{
      color: gray;
}
.chat_message{
      color: rgba(0, 0, 0, 0.782);
}
.chat_time{
      color: gray;
      font-size: 12px;
}
.chat_message_name{
      font-weight: bold;
      font-size: 17px;
}
/* チャット左側の要素 */
.chat__users-list{
      max-width: 400px;
      width: 100%;
      padding: 30px 30px;
}
.chat__users-list-top{
      display: flex;
      gap: 20px;
}
.chat_users-icon{
      width: 45px;
      height: 45px;
      border-radius: 100px;
}
.chat__users-list-area{
      background-color: #fff;
      padding: 30px 30px;
      margin: 30px 0;
      width: auto;
      border-radius: 10px;
      height:77vh;
  
}

.chat__users-list-area-input {
      border: none;
      background-color: #f5f6fa;
      padding: 11px 17px;
      width: -webkit-fill-available;
      border-radius: 90px;
  }
  .chat__users-list-area-input:focus{
      outline: none;
  }
  .chat__users-list-container{
      height: 70vh;
      overflow: auto;
      margin: 30px 0;
  }
  .chat__users-list-container::-webkit-scrollbar{
      width: 0;
  }
  .chat__users-list-wraper{
      display: flex;
      gap: 10px;
      margin: 30px 0;
  }
  .chat_users-list-flex{
      width: 100%;
  }
 .chat_users-list-box{
      display: flex;
      justify-content: space-between;
      width: 100%;
 }
 .chat__users-list-msg{
      display: flex;
      justify-content: space-between;
      margin-top: 3px;
 }
 .message_count{
      font-size: 10px;
      color: #fff;
      background-color: red;
      padding: 5px;
      border-radius: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 10px;
 }

 /* チャット画面右側 */
 .chat__message-area{
      width: 100%;
      max-width: 840px;
      padding: 20px 20px;
 }
 .chat__message-top{
      display: flex;
      gap: 10px;
      align-items: center;
      background-color: #f0f2f7;
      padding: 10px 20px;
      border-radius: 15px;
 }
 .chat__message-main{
      text-align: center;
      margin-top: 20px;
      height: 76vh;
      overflow-y: auto;
      padding: 13px 0;
 }
 .chat__message-main::-webkit-scrollbar{
      width: 0;
 }
 .chat__message-main-time{
      color: gray;
 }
 .chat_users-icon-message{
      width: 30px;
      height: 30px;
      border-radius: 90px;
 }
 .chat__message-container-left{
      width: 100%;
 }
 .chat__message-container-right{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
 }
 .chat__mesgae-main-left{
      width: 50%;
      display: flex;
      gap: 15px;
 }
 .chat__mesgae-main-right{
      width: 50%;
      float: right;
      /* background-color: #fff;
      border-radius: 90px;
      font-size: 13px;
      padding: 8px 15px; */
      display: flex;
      flex-direction: column;
      align-items: end;
 }
 .chat__message-box-left{
      background-color: #fff;
      border-radius: 90px;
      font-size: 13px;
      padding: 8px 15px;
      width: max-content;
 }
 .chat__message-box-right{
      background-color: #1a7aea;
      border-radius: 90px;
      font-size: 13px;
      padding: 8px 15px;
      width: max-content;
      color: #fff;
 }
 .chat-margin5{
      margin: 5px 0;
 }
 .chat__form{
      display: flex;
      width: -webkit-fill-available;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 10px 15px;
      border-radius: 90px;
      gap: 10px;
 }
 .chat__form-flex{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
 }
 .chat__form-submit {
      border: none;
      background-color: #1a7aea;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 90px;
      width: 20px;
      height: 20px;
  }
  .chat__form-flex input{
      width: 100%;
      border: none;
  }
  .chat__form-flex input::placeholder{
      font-weight: 400;
  }
  .chat__form-flex input:focus{
      outline: none;
  }
 .submit-icon{
      width: 10px;
      cursor: pointer;
 }
 .attachemnt-icon{
      width: 20px;
      cursor: pointer;
 }